._22ge .uiHeader,._22ge .uiHeader.uiSideHeader{background:none;border-top:none;margin-bottom:0;padding:12px 0 0}._22ge .uiHeaderTop .uiHeaderTitle,._22ge .uiHeader.uiSideHeader h6{font-weight:bold}

#bootloader_YgMQY{height:42px;}.bootloader_YgMQY{display:block!important;}